@page
@model CaseStudy.Views.Users.Index1Model
@{
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><span style="color: #ff0000;"><strong>YOU CANNOT CREDIT CARD DUMPASS.</strong></span></p>
        <p><span style="color: #ff0000;"><strong>TOO SMALL.</strong></span></p>
    </div>