@page
@model CaseStudy.Views.Users.Index1Model
@{
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><span style="color: #ff0000;"><strong>You are too young to apply for a credit card.</strong></span></p>
    



</div>


<div>
    <a asp-action="Index">Go Back</a>
</div>